{% extends "base.twig" %}

    {% block body %}
        <article>
            <div class="full-width">
                {{ content | striptags('<ul><li><a>') | raw }}
            </div>
        </article>
    {% endblock %}
