{% extends "base.twig" %}

    {% block body %}
        <article>
            <div class="full-width">
                <h1>{{ name }}</h1>
                {{ content | striptags('<p><br><b><i><strong><em><ul><ol><li><blockquote><img><a>') | raw }}
            </div>
        </article>
    {% endblock %}
